.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh; /* Definindo altura exata para evitar expansão além da viewport */
}

.contentArea {
  display: flex;
  flex: 1;  /* Isso permite que a área de conteúdo expanda ocupando todo espaço disponível entre cabeçalho e rodapé */
  overflow: hidden;  /* Impede que o conteúdo exceda a área visível causando scroll no nível do appContainer */
}

.mainContent {
  flex-grow: 1;
  overflow-y: auto;  /* Permite a rolagem do conteúdo principal, se necessário */
  padding: 20px;  /* Espaçamento interno para o conteúdo principal */
}

header, footer, aside, main {
  width: 100%; /* Garante que todos os elementos se alinhem corretamente e ocupem a largura designada */
}

aside {
  width: 240px; /* Define uma largura fixa para o aside e permite a rolagem vertical se necessário */
  overflow-y: auto;
  height: calc(100vh - 128px); /* Altura calculada assumindo um cabeçalho e um rodapé de 64px cada */
}

